{% extends "./layout.html" %}

{% block css_link %}
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/styles1.css')}}">
{% endblock %}

{% block js_link %}
<script src = "{{ url_for('static', filename='js/script1.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block title %}
Contest Home Page
{% endblock %}

{% block top_part %}
<h1>E-CONTEST</h1>
<form id = "complete_test" name = "complete_test" method = "POST" action = "{{url_for('dashboard')}}">
	<input type = "hidden" name = "remTime" id = "remTime" value = "{{rem_time}}">
	<input name = "quit" type = "submit" value = "Complete Test" id = "quit" onclick = "confirmSubmit(event);">
</form>
<!-- <div id = "timer">Timer
</div> -->
{% endblock %}

{% block page_content %}
<div class = "content">
	<div id = "quick-link-left">
		
		<button class="compiler" onclick="redirectToCompiler()">Online Compiler</button>
		<button class="standings" onclick="redirectToStandings()">Standings</button>
		<button class="submissions" onclick="redirectToSubmissions()">Submissions</button>

	</div>

	<div id="snackbar">
		{% with messages = get_flashed_messages() %}
		    {% if messages %}
		        {% for message in messages %}
		           {{message}}
		        {% endfor %}
		    {% endif %}
		{% endwith %}
	</div>
	<div class = "custom-select">
		<select form = "code-edit" id = "question-select" name = "question-select" onchange = "main_page_content()">
			<option value = "--">Questions/Syntax</option>
			<option value = "INS">Syntax Sheet</option>
			<option value = "QN1">Question 1</option>
			<option value = "QN2">Question 2</option>
			<option value = "QN3">Question 3</option>
			<option value = "QN4">Question 4</option>
			<option value = "QN5">Question 5</option>
			<option value = "QN6">Question 6</option>
			<option value = "QN7">Question 7</option>
			<option value = "QN8">Question 8</option>
			<option value = "QN9">Question 9</option>
			<option value = "QN10">Question 10</option>
		</select>
	</div>

	<div id = "question-box">
		<!--<iframe id = "frame1" frameborder="0" height = "100%" width = "100%"> </iframe>-->
	</div>

	<div id = "code-editor">
		<h3>CODE EDITOR</h3>
		<form name = "code-edit" id = "code-edit" method = "POST" action = "{{url_for('dashboard')}}">
			<textarea name = "code" id = "code-inp" placeholder = "Your code goes here...." required></textarea>
			<input type = "hidden" name = "remtime" id = "remtime" value = "{{rem_time}}">
			<input name = "submit" type = "submit" value = "Submit Code" id = "code-sub">
		</form>
	</div>

</div>
{% endblock %}