{% extends "./layout.html" %}

{% block css_link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles1.css') }}">
{% endblock %}

{% block js_link %}
<script src="{{ url_for('static', filename='js/script2.js') }}"></script>
{% endblock %}

{% block title %}
Contestant Registration Page
{% endblock %}

{% block top_part %}
<div class="title-container">
    <h1>E-CONTEST</h1> <!-- Centered in the header -->
</div>
{% endblock %}

{% block page_content %}
{% if error %}
<p id="err" style="display: none;">{{ error }}</p>
{% endif %}

<div class="content">
    <form name="register_form" method="POST" action="{{ url_for('register') }}">
        <div class="register-container">
            <h2>Create Your Account</h2> <!-- Add a heading -->
            {{ form.hidden_tag() }}
            {{ form.username(placeholder="Username") }}
            {{ form.password(placeholder="Password") }}
            {{ form.confirm_password(placeholder="Confirm Password") }}
            {{ form.name(placeholder="Name") }}
            {{ form.contact(placeholder="Phone No") }}
            {{ form.email(placeholder="Email") }}
            <input name="submit" type="submit" value="Register">
        </div>
    </form>
</div>
{% endblock %}